body {
    --skyblue: rgb(0, 204, 255);
}

.center {
    text-align: center;
}

.hero {
    padding: 25vh 0 15vh 0;
    background: radial-gradient(
        211.50000000000003% 113.1% at -66.4% 35.9%,
        #0b014a 39.13195153221485%,
        rgb(0, 73, 184) 51.424349881796694%,
        rgb(50, 100, 227) 67.59505338573997%,
        rgb(0, 204, 255) 77.36876020980384%,
        rgb(110, 255, 211) 90%,
        rgb(236, 241, 56) 100%
    );
    z-index: -1;
    opacity: 100%;
}

.welcome-txt {
    position: relative;
    width: 150px;
    height: 38px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    overflow: hidden;
    border-radius: 22px;
}
.welcome-txt:hover::after {
    cursor: pointer;
    background-color: #111;
}

.welcome-txt::before {
    content: "";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(rgb(255, 255, 255) 120deg, white 360deg);
    animation: border-animation 4s linear infinite;
}
.welcome-txt::after {
    content: "WELCOME";

    letter-spacing: 3px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    inset: 2px;
    background-color: #111;
    transition: 0.3s ease-in-out;
    border-radius: 20px;
}

@keyframes border-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hero-text1,
.hero-text2 {
    color: white;
    font-size: clamp(55px, 8vw, 130px);
    letter-spacing: -0.04em;
    line-height: 0.8em;
    font-weight: 650;
    padding: 0 15px;
}

.hero-tagline {
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.7);
    /* position: relative; */
    padding: 0 15px;
    top: 21vh;
    width: 100%;
    font-size: clamp(16px, 4vw, 25px);
}

.btn {
    margin: 20px 0;
}

.create-resume-btn2 {
    color: white;
    font-size: clamp(14px, 2vw, 25px);
    text-align: center;
    background-color: #111;
    border: none;
    background: linear-gradient(
        315deg,
        rgb(0, 153, 255) 0%,
        var(--skyblue, rgb(0, 204, 255)) 100%
    );
    border-radius: 12px;
    box-shadow: inset 0 0 0 0 black;
    /* box-shadow: rgba(0, 0, 0, 0.29) 0px 0.796192px 0.796192px -0.9375px, rgba(0, 0, 0, 0.275) 0px 2.41451px 2.41451px -1.875px, rgba(0, 0, 0, 0.235) 0px 6.38265px 6.38265px -2.8125px, rgba(0, 0, 0, 0.1) 0px 20px 20px -3.75px; */
    opacity: 1;
    transition: ease-in-out 0.3s;
    padding: 10px 15px;
}

.create-resume-btn2:hover {
    box-shadow: inset 210px 0 0 0 black;
    cursor: pointer;
}

.resume-template {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 35%;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .hero-tagline {
        margin: 0;
    }
    .btn {
        margin: 0;
    }
    .resume-template {
        width: 50%;
    }
    .scroller-text {
        font-size: 12px;
    }

    .scroller {
        max-width: 100%;
    }
}
