@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 40px;
    background-color: #111111;
    color: white;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 22px 70px 4px;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.navbar-brand img{
    width: 25px;
}

.navbar-brand div{
    font-size: 20px;
    font-weight: 800;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 13px;
    font-weight: 650;

}

.nav-link{
    color: white;
}

.create-resume-btn1{
    background: linear-gradient(315deg, rgb(0, 153, 255) 0%,#00ccff, rgb(0, 204, 255)) 100%;
    border: solid rgba(255, 255, 255, 0.1) 1px;
    border-radius: 8px;
    padding: 4px 10px;
    box-shadow: rgba(0, 0, 0, 0.286) 0px 0.722625px 0.722625px -1.25px, rgba(0, 0, 0, 0.255) 0px 2.74624px 2.74624px -2.5px, rgba(0, 0, 0, 0.1) 0px 12px 12px -3.75px;
    transition: 0.3s ease-in-out;
}

.create-resume-btn1:hover{
   background: white;
}

.create-resume-btn1:hover a.nav-link {
    color: black;
}



.hamburger{
    display:none;
    cursor: pointer;
}

.bar{
    color: white;
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px auto;
    -webkit-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    background-color: white;
}

@media(max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(4px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2){
        transform: translateY(-4px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: 0;
        top: -100px;
        gap: 0;
        flex-direction: column;
        -webkit-text-fill-color: transparent;
        background-color: #111111;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        -webkit-text-fill-color: white;
        top: 65px;
    }
}


